@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome :) ManyJobs API</h1>
  
    <a asp-controller="JobOffers" asp-action="Index">JobOffers List</a>
    <a asp-controller="JobSeekers" asp-action="Index">JobSeekers List</a>
</div>
